.button:link,
.button,
.button:visited {
  color: brown;
  display: inline-block;
  padding: 15px 29px;
  margin-top: 20px;
  text-decoration: none;
  background-color: wheat;
  border-radius: 35px;
  position: relative;
  transition: all 0.3s;
  text-align: center; }

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  color: red; }

.button:active {
  transform: translateY(2px);
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.2);
  color: darkred; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 35px;
  background-color: wheat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.button:hover::after {
  animation: sideToside 0.5s ease-out; }

.button-all {
  animation: bottomToTop 1s ease-in 1s;
  animation-fill-mode: backwards; }
  

@keyframes sideToside {
  0% {
    opacity: 1;
    transform: scaleX(1); }
  100% {
    opacity: 0;
    transform: scaleX(2.5) scaleY(1.6); } }
  
    @keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-150px); }
  60% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(150px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bottomToTop {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translateY(0); }
  }

    /* HEADER */
    .header {
        height: 95vh;
        background-image: linear-gradient(rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8)), url(images/medical10.png);
        clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
        position: relative;
        margin-bottom: -6rem; }
      
      .positions {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
      
      .primary {
        display: block;
        font-size: 78px;
        font-weight: 500;
        letter-spacing: 44px;
        line-height: 6rem;
        color: #faff5f;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        /*or simply
          animation:moveInRight 2s ease-in;
      */ }
      
      .secondary {
        display: block;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 1.2rem;
        color: #faff9d;
        /*New Addition*/
        animation: moveInLeft 2s ease-out; }
      
        /* row and column */
.row {
  max-width: 154rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-by-2 {
    width: 47%; }
    .row .col-1-by-2:not(:last-child) {
      margin-right: 5%; }
  .row .col-1-by-3 {
    width: 31%; }
    .row .col-1-by-3:not(:last-child) {
      margin-right: 3%; }
  .row .col-1-by-4 {
    background-color: aliceblue;
    width: 22%; }
    .row .col-1-by-4:not(:last-child) {
      margin-right: 3%; }

.section-description {
  padding: 9rem 7rem;
  margin: -8rem 0; }

  .Main-Text {
  font-size: 4rem;
  font-weight: 600;
  background-image: linear-gradient(to right, rgba(255, 0, 217, 0.82), #000043);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  padding: 2rem;
  transition: all .2s; }
  .Main-Text:hover {
    transform: skewY(2deg) skewX(2deg);
    text-shadow: 0 0.9rem 3rem rgba(0, 0, 0, 0.45); }

p {
  margin-bottom: 2rem; }

.section-description {
  padding: 9rem 7rem;
  margin: -8rem 0; }

.component {
  position: relative; }
  .component .photo {
    width: 55%;
    z-index: 5;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.43);
    border-radius: 6px;
    border: 0.3px solid black;
    transition: all .2s; }
    .component .photo-one {
      position: absolute;
      top: -2rem;
      left: 0; }
    .component .photo-two {
      position: absolute;
      top: 2rem;
      right: 0; }
    .component .photo-three {
      position: absolute;
      top: 10rem;
      left: 20%; }
    .component .photo:hover {
      z-index: 10;
      transform: scale(1.1); }

      /* feature */
      .section-feature {
  padding: 9rem 7rem;
  margin: 7rem 0;
  background-image: linear-gradient(to right, rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8)), url(images/medical10.png);
  transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg); }

.feature {
  background-image: linear-gradient(to right, rgba(176, 176, 255, 0.76), rgba(141, 141, 241, 0.62), rgba(241, 2, 96, 0.8));
  height: 23rem;
  width: 100%;
  transition: all .2s;
  border-radius: 1rem;
  position: relative;
  display: inline-block; }
  .feature:hover {
    transform: translateY(-6px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .feature .icon-decor {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 800;
    background-image: linear-gradient(to right, rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
  .feature .feature-paragraph {
    position: absolute;
    top: 38%;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem; }
  .feature .feature-button {
    position: absolute;
    top: 75%;
    left: 30%;
    background-color: pink; }

.section-card {
  margin: -1rem 6rem; }

.change-in-card {
  background-image: linear-gradient(to right, #ff2817, #00942f);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem; }

  /* CARDS */
  .card {
    height: 28rem;
    width: 80%;
    position: relative;
    perspective: 1000rem; }
    .card-side {
      position: absolute;
      top: 0;
      left: 0;
      height: 30rem;
      transition: all 2s ease;
      backface-visibility: hidden;
      border-radius: 0.3rem;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.38);
      border-radius: 0.3rem;
      overflow: hidden; }
      .card-side-front {
        height: 28rem;
        width: 80%;
        background-color: #f1ffff; }
      .card-side-back {
        height: 28rem;
        width: 80%;
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
        transform: rotateY(180deg); }
    .card:hover .card-side-front {
      transform: rotateY(-180deg); }
    .card:hover .card-side-back {
      transform: rotateY(0); }
    .card-image {
      height: 45%;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 76%, 0 100%); }
      .card-image-1 {
        background-image: linear-gradient(to right bottom, rgba(214, 140, 219, 0.69), rgba(255, 48, 48, 0.82)), url(images/medical5.jpg); }
      .card-image-2 {
        background-image: linear-gradient(to right bottom, rgba(214, 140, 219, 0.69), rgba(255, 48, 48, 0.82)), url(images/medical6.jpg); }
      .card-image-3 {
        background-image: linear-gradient(to right bottom, rgba(214, 140, 219, 0.69), rgba(255, 48, 48, 0.82)), url(images/medical2.jpg); }
    .card-heading {
      font-size: 2rem;
      position: absolute;
      top: 25%;
      right: 0;
      width: 50%;
      text-align: center;
      line-height: 1.9rem;
      background-image: linear-gradient(to right bottom, rgba(214, 140, 219, 0.69), rgba(255, 48, 48, 0.82));
      color: #740005; }
    .card-description ul {
      list-style: none;
      font-size: 1.3rem;
      text-align: center;
      line-height: 2.5rem;
      width: 80%; }
      .card-description ul li:not(:last-child) {
        border-bottom: 1px solid #d5d5d5; }
    .card-money {
      position: absolute;
      top: 16%;
      left: 35%;
      font-size: 3.2rem;
      color: wheat; }
    .card-button {
      position: absolute;
      top: 75%;
      left: 30%; }

/* STORIES */
.section-stories-video {
  margin-top: 9rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.73), rgba(255, 165, 165, 0.58)), url(images/medical11.jpg);
  background-size: cover;
  height: 52rem; }

.stories {
  position: relative;
  width: 100%;
  display: inline-block;
  height: 25rem; }
  .stories-each {
    background-color: rgba(222, 184, 135, 0.67);
    transform: skewX(-15deg);
    padding: 2rem 3rem;
    height: 16rem;
    width: 70%;
    backface-visibility: hidden;
    transition: all 1s;
    margin: 2rem auto;
    margin-bottom: 6rem; }
    .stories-each::after {
      content: "";
      display: table;
      clear: both; }
    .stories-each:hover .stories-image {
      filter: blur(3px); }
    .stories-each:hover .just-text {
      opacity: 1; }
  .stories-col-1-by-3 {
    width: 20%;
    float: left;
    transform: skewX(15deg); }
  .stories-col-2-by-3 {
    width: 80%;
    float: right;
    transform: skewX(15deg); }
  .stories-h3 {
    font-size: 1.5rem; }
  .stories-paragraph {
    letter-spacing: 0.1rem;
    font-size: 1.2rem; }
  .stories-author {
    position: absolute;
    top: 85%;
    right: 0; }
    .stories-author-profession {
      margin-top: 2rem; }
  .stories-image {
    height: 19rem;
    clip-path: circle(29% at 39% 40%);
    z-index: 1; }
  .stories-image-1 {
    height: 50%;
    transform: translateY(3rem); }
  .stories .just-text {
    color: #1a1a1a;
    font-size: 1.8rem;
    position: absolute;
    top: 25%;
    left: 18%;
    z-index: 3;
    opacity: 0; }

.section-form {
  background-image: linear-gradient(to right, rgba(255, 0, 217, 0.63), #000043);
  margin: 8rem auto;
  padding: 1rem 0; }

.book {
  padding: 2rem 2rem;
  margin: 5rem auto;
  background-image: linear-gradient(105deg, rgba(255, 255, 170, 0.65) 0%, rgba(255, 255, 170, 0.64) 50%, transparent 50%), url(images/beach.jpg);
  background-size: cover;
  width: 65%;
  height: 18rem;
  border-radius: 0.3rem; }

.form {
  width: 50%; }
  .form-each {
    position: relative; }
    .form-each:not(:last-child) {
      margin-bottom: 3rem; }
  .form-input {
    width: 80%;
    font-size: 1.3rem;
    padding: 0.3rem 1.5rem; }
  .form-input:focus {
    outline: none;
    border-bottom: 3px solid #02e524; }
    .form-input:focus:invalid {
      border-bottom: 3px solid #c20000; }
  .form-label {
    font-size: 1.3rem;
    position: absolute;
    top: 0.35rem;
    left: 1.5rem;
    opacity: 0;
    transition: all .3s; }
  .form-input:focus + .form-label {
    opacity: 1;
    transform: translateY(1.95rem); }
  .form-radio-label {
    font-size: 1.4rem;
    margin-right: 5rem;
    cursor: pointer; }
  .form-button {
    background-color: #bcf2a2;
    padding: 0.8rem 2rem;
    margin-left: 9rem;
    border: 1px solid #d0d0d0; }

    /* FOOTER */
    .footer {
  background-color: #2a2a20;
  position: relative; }
  .footer-row {
    margin-bottom: 2rem;
    padding: 1rem 5rem; }
    .footer-row::after {
      content: "";
      display: table;
      clear: both; }
  .footer-col-1-by-2 {
    width: 50%;
    float: left; }
  .footer-list {
    list-style: none;
    border-top: 2px solid wheat;
    display: inline-block; }
  .footer-items {
    display: inline-block;
    font-size: 1.6rem;
    padding: 0.5rem;
    margin-right: 4rem; }
  .footer-paragraph {
    color: whitesmoke;
    border-top: 2px solid wheat;
    padding: .5rem;
    font-size: 1.1rem; }
  .footer-link, .footer-link:link, .footer-link:visited {
    text-decoration: none;
    transition: all .5s;
    color: whitesmoke;
    display: inline-block; }
  .footer-link:hover {
    transform: scaleX(1.6) scaleY(1.4);
    color: transparent;
    background-image: linear-gradient(to right, white, red);
    -webkit-background-clip: text; }
    .logo-box{
      width:15rem;
      margin:2rem auto;
    }
.logo{
  height:12rem;
  }

  .navigation {
    position: relative; }
    .navigation-checkbox {
      position: fixed;
      top: 3rem;
      right: 3rem;
      opacity: 0.3; }
    .navigation-button {              
      position: fixed;
      top: 2.5rem;
      right: 2.5rem;
      height: 3.5rem;
      width: 3.5rem;
      border-radius: 50%;
      z-index: 10000;
      background-image: url(images/toogle.png);
      background-size: 100%; }
    .navigation-checkbox:checked ~ .navigation-background {
      transform: scale(100); }
    .navigation-checkbox:checked ~ .navigation-things {
      opacity: 1; }
    .navigation-background {
      position: fixed;
      top: 2.8rem;
      display: inline-block;
      right: 2.8rem;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background-image: radial-gradient(#9d9dff, #00ff50, #fd0b35);
      z-index: 500;
      transition: all .6s; }
    .navigation-things {
      opacity: 0;
      transition: all .3s; }
    .navigation-list {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 750; }
    .navigation-link, .navigation-link:link, .navigation-link:visited {
      text-decoration: none;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
      background-size: 220%;
      transition: all .5s;
      color: #efe1e9; }
    .navigation-link:hover {
      background-position: 100%;
      color: #71ffa1; }
    .navigation-items {
      list-style: none;
      color: #4d5838;
      font-weight: 500;
      font-size: 2rem; }
      .navigation-items span {
        margin-right: 1rem; }
      .navigation-items:not(:last-child) {
        margin-bottom: 2rem; }
  
  .section-popup {
    position: fixed;
    top: 0;
    bottom: 0; }
  
  .popup-background {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.79);
    opacity: 0;
    visibility: hidden;
    transform: scale(0.25);
    transition: all .5s; }
  
  .popup-row {
    display: table;
    width: 65%;
    background-color: #deffff;
    border-radius: 0.5rem;
    margin: 15rem auto;
    height: 20rem; }
  
  .popup-left {
    width: 33%;
    display: table-cell; }
  
  .popup-right {
    width: 66%;
    display: table-cell;
    vertical-align: middle; }
  
  .popup-image {
    width: 100%; }
  
  .popup-h3 {
    text-align: center; }
  
  .popup-text {
    padding: 1rem;
    column-count: 2;
    column-gap: 1rem; }
  
  .popup-button {
    font-size: 2rem;
    padding: 1rem;
    background-image: linear-gradient(#ffffcf, white); }
  
  .popup-background:target {
    opacity: 1;
    visibility: visible;
    transform: scale(1); }
  
  body {
    background-color: #e7f5e1;
    margin-left: 1rem;
    margin-right: 1rem; }
  
  .header {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8)), url(images/medical10.png);
    clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
    position: relative;
    margin-bottom: -6rem; }
  
  .positions {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  
  .primary {
    display: block;
    font-size: 78px;
    font-weight: 500;
    letter-spacing: 44px;
    line-height: 6rem;
    color: #faff5f;
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-in;
    /*or simply
      animation:moveInRight 2s ease-in;
  */ }
  
  .secondary {
    display: block;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 1.2rem;
    color: #faff9d;
    /*New Addition*/
    animation: moveInLeft 2s ease-out; }
  