.button:link,
.button,
.button:visited {
  color: brown;
  display: inline-block;
  padding: 15px 29px;
  margin-top: 20px;
  text-decoration: none;
  background-color: wheat;
  border-radius: 35px;
  position: relative;
  transition: all 0.3s;
  text-align: center; }

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  color: red; }

.button:active {
  transform: translateY(2px);
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.2);
  color: darkred; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 35px;
  background-color: wheat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.button:hover::after {
  animation: sideToside 0.5s ease-out; }

.button-all {
  animation: bottomToTop 1s ease-in 1s;
  animation-fill-mode: backwards; }
  

@keyframes sideToside {
  0% {
    opacity: 1;
    transform: scaleX(1); }
  100% {
    opacity: 0;
    transform: scaleX(2.5) scaleY(1.6); } }

    /* HEADER */
    .header {
        height: 95vh;
        background-image: linear-gradient(rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8)), url(images/medical10.png);
        clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
        position: relative;
        margin-bottom: -6rem; }
      
      .positions {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
      
      .primary {
        display: block;
        font-size: 78px;
        font-weight: 500;
        letter-spacing: 44px;
        line-height: 6rem;
        color: #faff5f;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        /*or simply
          animation:moveInRight 2s ease-in;
      */ }
      
      .secondary {
        display: block;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 1.2rem;
        color: #faff9d;
        /*New Addition*/
        animation: moveInLeft 2s ease-out; }
      
        /* row and column */
.row {
  max-width: 154rem; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row:not(:last-child) {
    margin-bottom: 3rem; }
  .row [class^="col-"] {
    float: left; }
  .row .col-1-by-2 {
    width: 47%; }
    .row .col-1-by-2:not(:last-child) {
      margin-right: 5%; }
  .row .col-1-by-3 {
    width: 31%; }
    .row .col-1-by-3:not(:last-child) {
      margin-right: 3%; }
  .row .col-1-by-4 {
    background-color: aliceblue;
    width: 22%; }
    .row .col-1-by-4:not(:last-child) {
      margin-right: 3%; }

.section-description {
  padding: 9rem 7rem;
  margin: -8rem 0; }

  .Main-Text {
  font-size: 4rem;
  font-weight: 600;
  background-image: linear-gradient(to right, rgba(255, 0, 217, 0.82), #000043);
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  padding: 2rem;
  transition: all .2s; }
  .Main-Text:hover {
    transform: skewY(2deg) skewX(2deg);
    text-shadow: 0 0.9rem 3rem rgba(0, 0, 0, 0.45); }

p {
  margin-bottom: 2rem; }

.section-description {
  padding: 9rem 7rem;
  margin: -8rem 0; }

.component {
  position: relative; }
  .component .photo {
    width: 55%;
    z-index: 5;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.43);
    border-radius: 6px;
    border: 0.3px solid black;
    transition: all .2s; }
    .component .photo-one {
      position: absolute;
      top: -2rem;
      left: 0; }
    .component .photo-two {
      position: absolute;
      top: 2rem;
      right: 0; }
    .component .photo-three {
      position: absolute;
      top: 10rem;
      left: 20%; }
    .component .photo:hover {
      z-index: 10;
      transform: scale(1.1); }

      /* feature */
      .section-feature {
  padding: 9rem 7rem;
  margin: 7rem 0;
  background-image: linear-gradient(to right, rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8)), url(images/medical10.png);
  transform: skewY(-7deg); }
  .section-feature > * {
    transform: skewY(7deg); }

.feature {
  background-image: linear-gradient(to right, rgba(176, 176, 255, 0.76), rgba(141, 141, 241, 0.62), rgba(241, 2, 96, 0.8));
  height: 23rem;
  width: 100%;
  transition: all .2s;
  border-radius: 1rem;
  position: relative;
  display: inline-block; }
  .feature:hover {
    transform: translateY(-6px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .feature .icon-decor {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: 800;
    background-image: linear-gradient(to right, rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8));
    -webkit-background-clip: text;
    color: transparent; }
  .feature .feature-paragraph {
    position: absolute;
    top: 38%;
    padding: 0 0.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.2rem; }
  .feature .feature-button {
    position: absolute;
    top: 75%;
    left: 30%;
    background-color: pink; }

.section-card {
  margin: -1rem 6rem; }

.change-in-card {
  background-image: linear-gradient(to right, #ff2817, #00942f);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 3.5rem; }