.button:link,
.button,
.button:visited {
  color: brown;
  display: inline-block;
  padding: 15px 29px;
  margin-top: 20px;
  text-decoration: none;
  background-color: wheat;
  border-radius: 35px;
  position: relative;
  transition: all 0.3s;
  text-align: center; }

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.3);
  color: red; }

.button:active {
  transform: translateY(2px);
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.2);
  color: darkred; }

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 35px;
  background-color: wheat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s; }

.button:hover::after {
  animation: sideToside 0.5s ease-out; }

.button-all {
  animation: bottomToTop 1s ease-in 1s;
  animation-fill-mode: backwards; }
  

@keyframes sideToside {
  0% {
    opacity: 1;
    transform: scaleX(1); }
  100% {
    opacity: 0;
    transform: scaleX(2.5) scaleY(1.6); } }

    /* HEADER */
    .header {
        height: 95vh;
        background-image: linear-gradient(rgba(0, 0, 153, 0.76), rgba(241, 2, 96, 0.8)), url(images/medical10.png);
        clip-path: polygon(0 0, 100% 0, 100% 72%, 0 100%);
        position: relative;
        margin-bottom: -6rem; }
      
      .positions {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center; }
      
      .primary {
        display: block;
        font-size: 78px;
        font-weight: 500;
        letter-spacing: 44px;
        line-height: 6rem;
        color: #faff5f;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        /*or simply
          animation:moveInRight 2s ease-in;
      */ }
      
      .secondary {
        display: block;
        font-size: 26px;
        font-weight: 400;
        letter-spacing: 1.2rem;
        color: #faff9d;
        /*New Addition*/
        animation: moveInLeft 2s ease-out; }
      